/* ==UserStyle==
@name         Protonmail Dark
@description  A dark theme for Protonmail.com
@namespace    gitlab.com/maxigaz/protonmail-dark
@author       maxigaz
@homepageURL  https://gitlab.com/maxigaz/protonmail-dark
@updateURL    https://gitlab.com/maxigaz/protonmail-dark/raw/master/protonmail-dark.user.css
@version      0.5.0
==/UserStyle== */

@-moz-document domain("mail.protonmail.com") {
	/* ===== General ====== */

	h2 {
		color: #f9f9fa;
	}

	body {
		color: #dddddd;
	}

	#pm_main {
		background-color: #41414f;
		color: #bbbbc1;
	}

	.headerSecured-container {
		background-color: #606071;
	}

	/* Search form */

	.searchForm-advanced-main {
		background-color: #41414f;
	}

	.searchForm-advanced-wrapper {
		background-color: #3b3b48;
	}

	.searchForm-advanced-container label {
		color: #dddddd;
	}

	.searchForm-advanced-wrapper .pm_select, .searchForm-advanced-wrapper input[type] {
		background-color: #46444c !important;
		border-color: #1b1b1b;
	}

	.pm_form input[type="email"]:hover, .pm_form input[type="number"]:hover, .pm_form input[type="password"]:hover, .pm_form input[type="search"]:hover, .pm_form input[type="tel"]:hover, .pm_form input[type="text"]:hover, .pm_form input[type="url"]:hover, .pm_form select:hover, .pm_form textarea:hover {
		border-color: #1b1b1b;
	}

	/* ===== Conversation view ===== */

	#conversation-view .frame {
		background-color: #3b3b48;
	}

	.messageExtra-container > [class*="-container"] {
		background-color: #40404e;
		border-color: #1b1b1b;
		color: #dcdcdc;
	}

	#conversation-view header {
		border-color: #282828;
	}

	#conversation-view header h1 {
		color: #e9e9e9;
	}

	#conversation-view .message {
		border-color: #1b1b1b;
	}

	#conversation-view .message .details {
		background-color: #44414e;
		border-color: #1b1b1b;
		color: #dcdcdc;
	}

	#conversation-view .message .summary {
		background-color: #44414e;
		color: #dcdcdc;
	}

	#conversation-view .message.unread:not(.open) .summary {
		background-color: #363642;
	}

	#conversation-view .message.unread:not(.open) .summary .labels, #conversation-view .message.unread:not(.open) .summary .location.folders, #conversation-view .message.unread:not(.open) .summary .status, #conversation-view .message.unread:not(.open) .summary .summary-right, #conversation-view .message.unread:not(.open) .summary .time {
		background-color: #363642 !important;
	}

	#conversation-view .message .summary .summary-right {
		background-color: #44414e;
	}

	#conversation-view .message .summary .labels, #conversation-view .message .summary .location.folders, #conversation-view .message .summary .message-attachments, #conversation-view .message .summary .status, #conversation-view .message .summary .time {
		background-color: #44414e;
	}

	.pm_buttons {
		border-color: #1b1b1b;
	}

	.pm_buttons .pm_buttons:not(:first-of-type) {
		border-color: #1b1b1b;
	}

	.pm_buttons a, .pm_buttons .pm_buttons-child {
		background-color: #46444c;
		border-color: #1b1b1b;
		color: #dfdfdf;
	}

	.pm_buttons a:hover, .pm_buttons .pm_buttons-child:hover {
		background-color: #5f5d6b;
		color: #dfdfdf;
	}

	.pm_buttons a:active, .pm_buttons a.active, .pm_buttons .pm_buttons-child:active {
		background-color: #757575;
		box-shadow: inset 0 0 20px 10px rgba(0,0,0,.4);
		color: #dfdfdf;
	}

	.pm_buttons a:focus, .pm_buttons .pm_buttons-child:focus {
		background-color: #5f5d6b;
		box-shadow: none;
		color: #dfdfdf;
	}

	.messageExtra-container > [class*="-container"] > [class*="-button"] {
		background-color: #46444c;
		border-color: #1b1b1b;
		color: #dfdfdf;
	}

	.appConfigBody-rows .chooseLayoutBtns-btn-rows, body:not(.appConfigBody-rows) .chooseLayoutBtns-btn-column {
		background-color: #5f5d6b;
		box-shadow: inset 0 0 20px 10px rgba(0,0,0,.45);
	}

	.navElements-btn-next, .navElements-btn-previous {
		color: #dfdfdf;
	}

	.navElements-btn-next:hover, .navElements-btn-previous:hover,
	.navElements-btn-next:focus, .navElements-btn-previous:focus {
		background-color: #5f5d6b;
		color: #dfdfdf;
	}

	.navElements-btn-next:active, .navElements-btn-previous:active {
		background-color: #757575;
		box-shadow: inset 0 0 20px 10px rgba(0,0,0,.4);
		color: #dfdfdf;
	}

	[class*="navElements-btn"] + [class*="navElements-btn"] {
		border-color: #1b1b1b;
	}

	#conversation-view .message .details .pm_buttons a {
		background-color: #46444c;
		border-color: #1b1b1b;
	}

	#conversation-view .message .details .pm_buttons a:hover {
		background-color: #5f5d6b;
	}

	#conversation-view .message .details .pm_buttons a:active {
		color: #dfdfdf;
	}

	#attachmentArea {
		background-color: #3b3b48;
		border-color: #1b1b1b;
	}

	.listAttachments-list .listAttachments-att {
		background-color: #3e3e48;
		color: #b4b4b4;
	}

	.listAttachments-list .listAttachments-att::after {
		border-color: #282828;
	}

	.pm_button {
		border-color: #282828;
		color: #c8c8ca;
	}

	.pm_button:focus, .pm_button:hover {
		background-color: #5f5d6b;
		color: #c8c8ca;
	}
	
	.pm_button:active {
		background-color: #757575;
		box-shadow: inset 0 0 20px 10px rgba(0,0,0,.4);
		color: #dfdfdf;
	}

	/* Conversation view in mobile view */

	body.appConfigBody-is-mobile #conversation-view .message .summary .time {
		background-color: #44414e;
	}

	/* ===== Inbox view ====== */

	body #conversation-list-rows .conversation {
		background-color: #363642;
		border-color: #292a2e;
	}

	body #conversation-list-rows .conversation.read {
		background-color: #3e3e4b;
	}

	body #conversation-list-rows .conversation .subject h4 {
		color: #dddddd;
	}

	.pm_toolbar {
		box-shadow: inset 0 -1px 0 #292a2e;
	}

	.pm_dropdown {
		background-color: #3b3b48;
		border-color: #1b1b1b;
		color: #c7c7c7;
	}

	.pm_dropdown > a, .pm_dropdown > button, .pm_dropdown > ul > li {
		border-color: #292a2e;
	}

	.pm_dropdown > a:hover, .pm_dropdown > button:hover, .pm_dropdown > ul > li:hover {
		color: white !important;
	}

	.paginator-disabled-previous {
		background-color: #5F5D6B !important;
	}

	/* "Move to" dropdown menu */

	.scrollbox-container {
		background-color: #3b3b48;
		background-image: radial-gradient(farthest-side at 50% 0,#33333f,transparent),radial-gradient(farthest-side at 50% 100%,#33333f,transparent);
		border-color: #33333f;
	}

	.scrollbox-container::after {
		background-image: none;
	}

	.scrollbox-container::before {
		background-image: none;
	}

	.alert {
		background-color: #3b3b48;
		color: #dcdcdc;
	}

	.alert a {
		color: #9397cd;
	}

	/* Inbox in mobile view */

	.conversation {
		background-color: #363642;
		border-color: #292a2e;
	}

	.conversation.read {
		background-color: #3e3e4b;
	}

	.conversation .row h4 {
		color: #dddddd;
	}

	/* ===== Compose ===== */

	#pm_composer .composer footer, .squireEditor-loaded footer {
		background-color: #44414e;
	}

	#pm_composer .composer input, #pm_composer .composer select {
		color: #dddddd;
	}

	#pm_composer .composer .fromRow {
		color: #dddddd;
	}

	#pm_composer .composer .row {
		border-color: #33333f;
	}

	[class*="squireToolbar-row"] {
		background-color: #44414e;
		border-color: #292a2e;
		color: #ddd;
	}

	.composer-meta {
		background-color: #41414f;
	}

	.composerInputMeta-overlay  {
		background-color: #41414f;
		color: #ddd;
	}

	.flex.subject.ng-not-empty.ng-dirty.ng-valid-parse.ng-valid.ng-valid-required.ng-touched, .flex.subject.ng-dirty.ng-valid-parse.ng-touched.ng-empty.ng-invalid.ng-invalid-required {
		background-color: #41414f !important;
		color: #e1e1e1 !important;
	}

	.autocompleteEmails-input {
		background-color: #41414f;
	}

	#pm_composer .composer footer, .squireEditor-loaded footer {
		border-color: #292a2e;
	}

	/* Toolbar */

	[class*="squireToolbar-row"] .squireToolbar-action-mode:active, [class*="squireToolbar-row"] .squireToolbar-action-mode:hover, [class*="squireToolbar-row"] [class*="squireToolbar-action-"]:active, [class*="squireToolbar-row"] [class*="squireToolbar-action-"]:hover {
		background-color: #5f5d6b;
		border-color: #1b1b1b;
	}

	.squireToolbar-separator {
		background-color: #33353a;
	}

	.squireToolbar-select-list {
		background-color: #3b3b48;
		border-color: #1b1b1b;
		color: #c7c7c7;
	}

	.squireToolbar-dropdown-divider {
		background-color: #292a2e;
	}

	.squireToolbar-select-item {
		border-color: #292a2e;
	}

	.squireToolbar-select-item:hover {
		background-color: #5f5d6b;
	}

	.squireToolbar-show-subrow .squireToolbar-action-options {
		background-color: #5f5d6b;
		border-color: #1b1b1b;
	}

	.squireToolbar-select-view {
		background-color: #5f5d6b;
		border: #1b1b1b;
	}

	.squireToolbar-show-subrow .squireToolbar-action-color {
		border: #1b1b1b;
	}

	.squireToolbar-action-color {
		background-color: #5f5d6b;
	}

	/* Footer */

	#pm_composer .composer footer .pm_button, .squireEditor-loaded footer .pm_button {
		background-color: #46444c;
		border-color: #1b1b1b;
	}

	#pm_composer .composer footer .pm_button:hover, .squireEditor-loaded footer .pm_button:hover, #pm_composer .composer footer .pm_button:focus, .squireEditor-loaded footer .pm_button:focus {
		background-color: #5f5d6b;
		border-color: #1b1b1b;
	}

	#pm_composer .composer footer .pm_button:active, .squireEditor-loaded footer .pm_button:active {
		background-color: #757575;
		box-shadow: inset 0 0 20px 10px rgba(0,0,0,.4);
	}

	#pm_composer .composer footer .composer-btn-expiration svg, .squireEditor-loaded footer .composer-btn-expiration svg {
		fill: #dfdfdf;
	}

	#pm_composer .composer footer .composer-btn-expiration:focus svg, #pm_composer .composer footer .composer-btn-expiration:hover svg, .squireEditor-loaded footer .composer-btn-expiration:focus svg, .squireEditor-loaded footer .composer-btn-expiration:hover svg {
		fill: #dfdfdf;
	}

	/* ===== Settings ====== */

	.pm_form input[type="email"], .pm_form input[type="number"], .pm_form input[type="password"], .pm_form input[type="search"], .pm_form input[type="tel"], .pm_form input[type="text"], .pm_form input[type="url"], .pm_form select, .pm_form textarea {
		background-color: #6f6e7d;
		border-color: #282828;
		color: #e1e1e1;
	}

	.pm_form input[type="email"]:hover, .pm_form input[type="number"]:hover, .pm_form input[type="password"]:hover, .pm_form input[type="search"]:hover, .pm_form input[type="tel"]:hover, .pm_form input[type="text"]:hover, .pm_form input[type="url"]:hover, .pm_form select:hover, .pm_form textarea:hover {
		color: #e9e9e9;
	}

	/* Account */

	.sidebarApp-container .sidebar-btn-back {
		border-color: #1b1b1b;
	}

	.pm_form .pm_select {
		box-shadow: inset 0 0 0 1px #1b1b1b,0 1px 2px rgba(0,0,0,.1);
	}

	#pm_settings .settings .squireToolbar-container {
		border-color: #282828;
	}

	#pm_settings .settings .angular-squire-wrapper {
		border-color: #282828;
	}

	.pm_sort-container {
		border-color: #282828;
	}

	.pm_sort-item-content {
		border-color: #282828;
	}

	.headerBlock-container {
		border-color: #7c7c96;
	}

	.alert.alert-info {
		background-color: #8286c5;
		color: #e8e9f4;
	}

	.alert a {
		color: #fff;
	}

	/* Dashboard */

	.settingsDashboard-overview-section-table-container {
		border-color: #282828;
	}

	.settingsDashboard-overview-section-table-container .overviewSection-container .overviewSection-tbody-billing {
		background: #3b3b48;
		color: #e8e9f4;
	}

	#pm_settings .well {
		border-color: #282828;
	}

	.settingsDashboard-plans {
		background-color: #41414f;
		background-image: radial-gradient(farthest-side at 0 50%,#2b2b35,transparent),radial-gradient(farthest-side at 100% 50%,#2b2b35,transparent);
	}

	.settingsDashboard-plans::after, .settingsDashboard-plans::before {
		background-color: #41414f;
	}

	.settingsDashboard-plans [class*="Column-container"] {
		border-color: #282828;
	}

	.settingsDashboard-plans [class*="Column-container"] > :not(:last-child) {
		border-color: #292a2e;
	}

	.settingsDashboard-plans .totalRows-container > label:not(:first-of-type)::before {
		border-color: #292a2e;
	}

	.settingsDashboard-plans [class*="Column-container"] [class*="addonRow"] .pm_select {
		background-color: #46444c;
	}

	.settingsDashboard-plans .planPrice {
		color: #9594b4;
	}

	.vpnRow-add, .vpnRow-add:hover {
		background-color: #294a32;
	}

	.currencySelector-container .currencySelector-button.active {
		background-color: #757575;
		box-shadow: inset 0 0 20px 10px rgba(0,0,0,.4);
	}

	/* Filters */

	/* Edit filter modal */

	.pm_modal .modal-dialog .modal-content {
		background-color: #44414e;
	}

	.pm_modal .modal-dialog .modal-footer {
		background-color: #44414e;
	}

	.pm_modal .modal-dialog .modal-content h1, .pm_modal .modal-dialog .modal-content h2, .pm_modal .modal-dialog .modal-content h3, .pm_modal .modal-dialog .modal-content h4 {
			color: #f9f9fa;
	}

	.pm_form legend {
		border-color: #7c7c96;
	}

	.pm_button.white {
		background-color: #46444c;
	}

	.pm_form .pm_select select {
		background-color: #46444c;
	}

	.alert .pm_select, .alert input[type="email"], .alert input[type="number"], .alert input[type="password"], .alert input[type="search"], .alert input[type="text"], .alert textarea {
		background-color: #46444c !important;
	}

	.filter-modal-add-condition-button[disabled] {
		background-color: #5F5D6B;
		color: #9594b4;
	}

	.pm_badge, .pm_tag {
		background-color: #29282d;
	}

	.pm_badge.default {
		color: #dddddd;
	}
}
