/* ==UserStyle==
@name         Protonmail Dark
@description  A dark theme for Protonmail.com
@namespace    github.com/maxigaz/protonmail-dark
@author       maxigaz
@homepageURL  https://github.com/maxigaz/protonmail-dark
@updateURL    https://raw.githubusercontent.com/maxigaz/protonmail-dark/master/protonmail-dark.user.css
@version      0.2.0
==/UserStyle== */

@-moz-document domain("mail.protonmail.com") {
	/* ===== General ====== */

	h2 {
		color: #f9f9fa;
	}

	#pm_main {
		background-color: #41414f;
		color: #bbbbc1;
	}

	/* ===== Conversation view ===== */

	#conversation-view .frame {
		background-color: #3b3b48;
	}

	.messageExtra-container > [class*="-container"] {
		background-color: #40404e;
		border-color: #1b1b1b;
		color: #dcdcdc;
	}

	#conversation-view header h1 {
		color: #e9e9e9;
	}

	#conversation-view .message {
		border-color: #1b1b1b;
	}

	#conversation-view .message .details {
		background-color: #44414e;
		border-color: #1b1b1b;
		color: #dcdcdc;
	}

	#conversation-view .message .summary {
		background-color: #44414e;
		color: #dcdcdc;
	}

	#conversation-view .message .summary .time::after {
		background-image: none;
	}

	#conversation-view .message .summary .labels, #conversation-view .message .summary .status, #conversation-view .message .summary .time {
		background-color: #44414e;
		color: #dcdcdc;
	}

	.pm_buttons {
		border-color: #1b1b1b;
	}

	.pm_buttons .pm_buttons:not(:first-of-type) {
		border-color: #1b1b1b;
	}

	.pm_buttons a, .pm_buttons .pm_buttons-child {
		background-color: #46444c;
		border-color: #1b1b1b;
		color: #dfdfdf;
	}

	.pm_buttons a:hover, .pm_buttons .pm_buttons-child:hover {
		background-color: #5f5d6b;
		color: #dfdfdf;
	}

	.pm_buttons a:active, .pm_buttons a.active, .pm_buttons .pm_buttons-child:active {
		background-color: #757575;
		box-shadow: inset 0 0 20px 10px rgba(0,0,0,.4);
		color: #dfdfdf;
	}

	.pm_buttons a:focus, .pm_buttons .pm_buttons-child:focus {
		background-color: #5f5d6b;
		box-shadow: none;
		color: #dfdfdf;
	}

	.appConfigBody-rows .chooseLayoutBtns-btn-rows, body:not(.appConfigBody-rows) .chooseLayoutBtns-btn-column {
		background-color: #5f5d6b;
		box-shadow: inset 0 0 20px 10px rgba(0,0,0,.45);
	}

	.navElements-btn-next, .navElements-btn-previous {
		color: #dfdfdf;
	}

	.navElements-btn-next:hover, .navElements-btn-previous:hover,
	.navElements-btn-next:focus, .navElements-btn-previous:focus {
		background-color: #5f5d6b;
		color: #dfdfdf;
	}

	.navElements-btn-next:active, .navElements-btn-previous:active {
		background-color: #757575;
		box-shadow: inset 0 0 20px 10px rgba(0,0,0,.4);
		color: #dfdfdf;
	}

	[class*="navElements-btn"] + [class*="navElements-btn"] {
		border-color: #1b1b1b;
	}

	#conversation-view .message .details .pm_buttons a {
		background-color: #46444c;
		border-color: #1b1b1b;
	}

	#conversation-view .message .details .pm_buttons a:hover {
		background-color: #5f5d6b;
	}

	#conversation-view .message .details .pm_buttons a:active {
		color: #dfdfdf;
	}

	/* ===== Inbox view ====== */

	body #conversation-list-rows .conversation {
		background-color: #363642;
		border-color: #292a2e;
	}

	body #conversation-list-rows .conversation.read {
		background-color: #3e3e4b;
	}

	body #conversation-list-rows .conversation .subject h4 {
		color: #dddddd;
	}

	.pm_toolbar {
		box-shadow: inset 0 -1px 0 #292a2e;
	}

	.pm_dropdown {
		background-color: #3b3b48;
		border-color: #1b1b1b;
		color: #c7c7c7;
	}

	.pm_dropdown > a, .pm_dropdown > button, .pm_dropdown > ul > li {
		border-color: #292a2e;
	}

	.pm_dropdown > a:hover, .pm_dropdown > button:hover, .pm_dropdown > ul > li:hover {
		color: white !important;
	}

	/* "Move to" dropdown menu */

	.scrollbox-container {
		background-color: #3b3b48;
		background-image: radial-gradient(farthest-side at 50% 0,#33333f,transparent),radial-gradient(farthest-side at 50% 100%,#33333f,transparent);
		border-color: #33333f;
	}

	.scrollbox-container::after {
		background-image: none;
	}

	.scrollbox-container::before {
		background-image: none;
	}

	.alert {
		background-color: #3b3b48;
		color: #dcdcdc;
	}

	.alert a {
		color: #9397cd;
	}

	/* Inbox in mobile view */

	.conversation {
		background-color: #363642;
		border-color: #292a2e;
	}

	.conversation.read {
		background-color: #3e3e4b;
	}

	.conversation .subject h4 {
		color: #dddddd;
	}

	/* ===== Settings ====== */

	.pm_form input[type="email"], .pm_form input[type="number"], .pm_form input[type="password"], .pm_form input[type="search"], .pm_form input[type="tel"], .pm_form input[type="text"], .pm_form input[type="url"], .pm_form select, .pm_form textarea {
		background-color: #6f6e7d;
		color: #e1e1e1;
	}

	.pm_form input[type="email"]:hover, .pm_form input[type="number"]:hover, .pm_form input[type="password"]:hover, .pm_form input[type="search"]:hover, .pm_form input[type="tel"]:hover, .pm_form input[type="text"]:hover, .pm_form input[type="url"]:hover, .pm_form select:hover, .pm_form textarea:hover {
		color: #e9e9e9;
	}

}
